<div class="container">
  <div class="row">
    <div class="col col-lg-12">
      <h3 class="text-primary">Site分布测试</h3>
    </div>
  </div>

  <div class="row">
    <!--<div class="col col-lg-5 col-md-5 col-sm-12">
      <div class="well well-sm">
        <table class="table">
          <thead>
            <tr>
              <th colspan="4" class="text-center">
                <small><em>Choose Layout:</em></small>
                <span class="btn-group">
                  <button class="btn btn-primary btn-sm" *ngFor="let layout of dragZoom2Layouts"
                  (click)="onActiveButtonChange(layout)" [class.active]="layout === selectedLayout" [ngClass]="'layout-' + layout.name">
                    {{layout.name}}
                  </button>
                </span>
              </th>
            </tr>
          </thead>
          <tbody>
            <tr>
              <th class="info">Width</th>
              <td>{{selectedLayout.width}}</td>
              <th class="info">Height</th>
              <td>{{selectedLayout.height}}</td>
            </tr>
            <tr>
              <th class="info">Radius (Phyllotaxis)</th>
              <td>{{selectedLayout.dieWidth}}</td>
              <th class="info">Radius (Point)</th>
              <td>{{selectedLayout.dieHeight}}</td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>-->
    <div class="col col-lg-7 col-md-7 col-sm-12">
      <div class="visualization">
        <app-wafer-map [width]="selectedLayout.width" [height]="selectedLayout.height" [dieWidth]="selectedLayout.dieWidth"
          [dieHeight]="selectedLayout.dieHeight"></app-wafer-map>
      </div>
    </div>
  </div>
</div>
